@media(max-width: 700px){
    .header{
        flex-direction: column;
    }

    .header .logo .title{
        font-size: 40px;
    }

    .header .navigation{
        flex-direction: column;
        margin-top: 50px;
    }

    .header .navigation li{
        padding: 20px 0;
    }

    .header .navigation li:last-child{
       margin-top: 20px;
    }

    .header .navigation li a{
        font-size: 40px;
        padding: 17px 40px;
    }

    .header .navigation li a.btn{
        padding: 15px 23px;
    }
    
    

}