@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .title {
    margin-left: 5px;
    font-size: 20px;
}

.header .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navigation li a {
    padding: 5px 10px;
}

.header .navigation li a:hover {
    transition: 0.3s ease-in-out;
    background-color: #5BC241;
    color: #ffffff;
}

.header .navigation .btn {
    background-color: #5BC241;
    color: #ffffff;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
}

