@media(min-width: 1368px){
    main{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1440px;
        height: 689px;
        padding: 30px;
    }

    
}